
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: blue;
  color: white;
  padding: 10px 20px;

}

.header h1 {
  margin: 0;
  font-size: 24px;
}

.menu-icon {
  display: none;
  font-size: 34px;
  cursor: pointer; 
  margin: 20px;
}

.categories {
  display: flex;
}

.categories ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.categories ul li {
  margin: 0 10px;
  cursor: pointer;
  color: white;
  font-size: larger;
  text-decoration: none;
}

.categories ul li:hover {
  color: black;
}

.search {
  display: flex;
  align-items: center;
}

.search input {
  height: 40px;
  padding: 10gitpx;
  border-radius: 10px;
  border: none;
  margin-left: 10px;
  font-size: larger;
}

.search .fasearch {
  font-size: 20px;
  cursor: pointer;
  color: white;
  margin-left: 5px;
}
/* ------------------------------NewsBody---Component--------------------------------------- */
.newsbody{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.newspart {
  display: block;
  cursor: pointer;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 25%;
  margin: 10px;
  padding: 20px;
  word-wrap: break-word;
  transition: width 0.5s ease, transform 0.5s ease; 
}

.newspart:hover {
  width: 27%; 
  transform: scale(1,1); 
  z-index: 1;
  
}
.newspart img{
  width:90%;
}

.newsdetails{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding:40px;
  word-wrap: break-word;
}
.newsdetails img{
  width:40%;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.pagination button {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination button:hover {
  background-color: darkblue;
}

.pagination span {
  margin: 0 10px;
  font-size: 18px;
}

/* ---------------------------------Responsive--query----------------------------------------------------------------------- */
@media (max-width: 800px) {
  .menu-icon {
    display: block;
  }

  .categories {
    display: none;
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    background-color: blue;
    padding: 10px 20px;
    z-index: 1;
    flex-direction: column;
    align-items: flex-start;
  }

  .categories.open {
    display: flex;
  }

  .categories ul {
    flex-direction: column;
    align-items: flex-start;
  }

  .search {
    margin-left: auto;
  }
}

@media (max-width: 400px){

  body{
    width: fit-content;
  }
 
   
}











